body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weapons {
    display: flex;
    flex-direction: row;
}